{% extends '@OctopouceAdvertising/Admin/layout.html.twig' %}

{% block title %}Adzones - {{ parent() }}{% endblock %}

{% block main %}
    <div class="padding-filter">
        <div class="row title">
            <div class="col s12">
                <h1>Adzones <a href="{{ path('octopouce_advertising_admin_adzone_create') }}" class="waves-effect waves-light btn green"><i class="fas fa-plus"></i></a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Pages</th>
                            <th>Views</th>
                            <th>Clicks</th>
                            <th>CTR</th>
                            <th>Twig</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for adzone in adzones %}
                            <tr>
                                <td>{{ adzone.id }}</td>
                                <td>{{ adzone.name }}</td>
                                <td>{{ adzone.width }}</td>
                                <td>{{ adzone.height }}</td>
                                <td>
                                    {% if adzone.pages %}
                                        {% for page in adzone.pages %}
                                            <span class="chip blue" title="Path: {{ page.path }}">{{ page.name }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>{{ adzone.totalViews }}</td>
                                <td>{{ adzone.totalClicks }}</td>
                                <td>
                                    {% if adzone.totalViews %}
                                        {{ ((adzone.totalClicks * 100) / adzone.totalViews)|round(2) }}%
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% verbatim %}{{ adzone('{% endverbatim %}{{ adzone.name }}{% verbatim %}', true, {'classLink':'adv-link', 'classImg':'adv-img'})|raw }}{% endverbatim %}</td>
                                <td>
                                    <a href="{{ path('octopouce_advertising_admin_adzone_edit', {'adzone':adzone.id}) }}" class="waves-effect waves-light btn orange"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="{{ path('octopouce_advertising_admin_adzone_delete', {'adzone':adzone.id}) }}" class="waves-effect waves-light btn red"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

